html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 1500px;
}

.nav-container{
    width: 100%;
    padding: 0 30px;
    border-bottom: 1px solid #8C939C;
}

#navbar{
    max-width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

div#navbar-left img {
    display: flex;
    align-items: center;
}

#navbar-left{
    display: flex;
    align-items: center;
}

#navbar-right{
    display: flex;
    align-items: center;
}

#navbar-right a{
    padding-right: 35px;
    color: #201b24;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}

#btn-sumate {
    display: flex;
    align-items: center;
}

#btn-sumate span{
    padding: 9px 20px;
    line-height: 14px;
    font-size: 12px;
    letter-spacing: 0.18px;
    font-weight: 500;
    border: 2px solid #201b24;
    border-radius: 20px;
}

#navbar-right div{
    display: flex;
}

#navbar-right div a{
    display: flex;
    align-items: center;
    padding-right: 20px;
    font-size: 14px;
}

#navbar-right div a:last-child{
    padding: 0px;
}

/* main{
    padding: 0 30px;
} */

#header{
    width: 100%;
    max-width: 1248px;
}
.container-content-header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 30px;
}

.container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* margin-left: calc(-4% / 2 );
    margin-right: calc(-4% / 2 ); */
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
}

.container-title{
    width: 50%;
    margin: 0 0 15px 0;
}

h1{
    color: #201b24;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.4px;
    text-align: center;
    padding: 0 35px;
    margin: 10px 0;
    line-height: 34px
}

.container-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0 20px 0
}

.header-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #201b24;
    font-size: 12px;
    letter-spacing: 0.18px;    
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid #201b24;
    border-radius: 20px;
}

.header-links i{
    font-weight: 900;
}

.header-links:last-child{
    color: #6b53f0;
    border-color: #6b53f0;
}

section#impacto{
    color: #fff;
    background-color: #201B24;
}

.impacto-container-content{
    display: flex;
    justify-content: center;
    max-width: 1248px;
    margin: 0 auto;
    padding: 120px 60px 120px;
}

.impacto-container-content div{
    width: 33.3%;
}

.container-title-impacto{
    margin: 0 50px 0 0;
}

/* .container-title-impacto */ h2{
    font-size: 30px;
    margin: 10px 0 15px;
    letter-spacing: -0.4px;
}

.container-title-impacto p{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
}

.container-numbers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-numbers div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}

.data-number-impacto{
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
}

.data-number-impacto span{
    font-size: 30px;
    font-weight: 400;
    color: #6b53f0;
}

.data-number-text{
    color: #8c939c;
    font-size: 14px;
}

#img-team{
    background-color: rgba(255, 255, 255, 0);
    background: url('/maquetacion/imgs/twp-home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    border-width: 0px;
    border-style: solid;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 80px);
}

#container-programas, #container-capacitaciones{
    padding: 90px 30px;
}

.container-content-programs, .container-content-capacitaciones{
    max-width: 1248px;
    margin: 0 auto 35px;
}

.container-content-programs h2, .container-content-capacitaciones h2{
    padding-left: 25px;
}

.grid-container-programs, .grid-container-capacitaciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 0 50px;
  }

.img-xacademy, .img-estafas{
    width: 576px;
    height: 384px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 40px 40px 40px;
}

.img-xacademy{
    background-image: url('/maquetacion/imgs/xacademy-01.jpg');
}

.img-estafas{
    background-image: url('/maquetacion/imgs/estafas-virtuales.jpg');
}

.container-xacademy, .container-robotica,
.container-estafas, .container-seguridad{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-left: 30px;
    padding: 0 20px;
}

.container-xacademy p, .container-robotica p,
.container-estafas p, .container-seguridad p{
    color: #201b24;
    font-size: 14px;
    line-height: 21px;
    margin: 0px 0px 5px;
}

.container-robotica{
    padding-right: 0;
}

.container-robotica h3{
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
}

.container-xacademy img{
    width: 200px;
}

.img-robotica, .img-seguridad{
    width: 576px;
    height: 384px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px 40px 0 40px;
}

.img-robotica{
    background-image: url('/maquetacion/imgs/robotica-educativa.jpg');
}

.img-seguridad{
    background-image: url('/maquetacion/imgs/seguridad-informatica-para-infancias.jpg');
}

.mas-info{
    width: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #201B24;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    border: 2px solid #201B24;
    border-radius: 20px;

}

section#equipo,
section#alianzas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F5;
    padding: 70px 30px;
}

.container-content-equipo,
.container-content-alianzas{
    width: 1248px;
    padding-left: 50px;
}

.grid-equipo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
  }
  
  .card {
    width: 264px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    border-radius: 20px 20px 20px 0;
  }

  .card img{
    width: 264px;
    object-fit: fill;
  }

  .container-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
  }

  .container-info h3{
    font-size: 20px;
    letter-spacing: -0.4px;
  }
  
  .container-info p{
    color: #8c939c;
    font-size: 14px;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
  }

  .container-info a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 4px;
    font-size: 13px;
    color: #201B24;
    border: 2px solid #201B24;
    border-radius: 50%;
    text-decoration: none;

  }

  section#alianzas{
    background-color: #fff;
  }

  .containter-info-alianzas{
    width: 100%;
    position: relative;
  }
  
  .grid-empresas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 0 30px;
    position: relative;
    z-index: 100;
  }

  .empresa img{
    width: 200px;
    filter: grayscale(100%);
    opacity: .5;
  }

  .empresa img:hover{
    filter: grayscale(0%);
    opacity: 1;
  }

  /* .empresa{
    margin-left: 10px;
  } */
  .container-btns-slide{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  .container-btns-slide i{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8C939C;
    background-color: #201B24;
    opacity: .5;
    cursor: pointer;
  }
@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
