html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 1500px;
}

.nav-container{
    width: 100%;
    padding: 0 30px;
    border-bottom: 1px solid #8C939C;
}

#navbar{
    max-width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

div#navbar-left img {
    display: flex;
    align-items: center;
}

#navbar-left{
    display: flex;
    align-items: center;
}

#navbar-right{
    display: flex;
    align-items: center;
}

#navbar-right a{
    padding-right: 35px;
    color: #201b24;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
}

#btn-sumate {
    display: flex;
    align-items: center;
}

#btn-sumate span{
    padding: 9px 20px;
    line-height: 14px;
    font-size: 12px;
    letter-spacing: 0.18px;
    font-weight: 500;
    border: 2px solid #201b24;
    border-radius: 20px;
}

#navbar-right div{
    display: flex;
}

#navbar-right div a{
    display: flex;
    align-items: center;
    padding-right: 20px;
    font-size: 14px;
}

#navbar-right div a:last-child{
    padding: 0px;
}

form{
    margin: 0 300px;
}

@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
